# Работа с данными

In [161]:
import pandas as pd

Расположение файлов

In [162]:
dataset_folder = './data_set/'

test_folder = 'test.csv'
train_folder = 'train.csv'

In [163]:
train_data = pd.read_csv(dataset_folder+train_folder)
train_data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [164]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

Обработаем датасет:

In [165]:
def edit_data(data : pd.DataFrame, columns: list, drop_columns = []) -> pd.DataFrame:
    
    for i_columns in columns:
        try:
            data = pd.concat([
            data.drop(i_columns, axis=1),
            pd.get_dummies(data[i_columns])
            ],axis=1)
        except:
            print('Error get_dummies: Not columns '+i_columns)
    for i_columns in drop_columns:
        try:
            data = data.drop(i_columns, axis=1)
        except:
            print('Error drop: Not columns '+i_columns)
    return data

In [166]:
edit_columns = ['HomePlanet', 'Destination']
drop_columns = ['PassengerId', 'Cabin', 'Name']
train_data = edit_data(train_data, edit_columns, drop_columns)

In [167]:
data_Transported = train_data['Transported']
train_data = train_data.drop('Transported', axis=1)

train_data.insert(len(train_data.columns), 'Transported', data_Transported)

In [168]:
train_data.T

,0,1,2,3,4,5,6,7,8,9,...,8683,8684,8685,8686,8687,8688,8689,8690,8691,8692
CryoSleep,False,False,False,False,False,False,False,True,False,True,...,False,True,False,False,NaN,False,True,False,False,False
Age,39.0,24.0,58.0,33.0,16.0,44.0,26.0,28.0,35.0,14.0,...,21.0,23.0,0.0,32.0,30.0,41.0,18.0,26.0,32.0,44.0
VIP,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
RoomService,0.0,109.0,43.0,0.0,303.0,0.0,42.0,0.0,0.0,0.0,...,86.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,126.0
FoodCourt,0.0,9.0,3576.0,1283.0,70.0,483.0,1539.0,0.0,785.0,0.0,...,3.0,0.0,0.0,1146.0,3208.0,6819.0,0.0,0.0,1049.0,4688.0
ShoppingMall,0.0,25.0,0.0,371.0,151.0,0.0,3.0,0.0,17.0,0.0,...,149.0,0.0,0.0,0.0,0.0,0.0,0.0,1872.0,0.0,0.0
Spa,0.0,549.0,6715.0,3329.0,565.0,291.0,0.0,0.0,216.0,0.0,...,208.0,0.0,0.0,50.0,2.0,1643.0,0.0,1.0,353.0,0.0
VRDeck,0.0,44.0,49.0,193.0,2.0,0.0,0.0,NaN,0.0,0.0,...,329.0,0.0,0.0,34.0,330.0,74.0,0.0,0.0,3235.0,12.0
Earth,False,True,False,False,True,True,True,True,True,False,...,True,False,False,False,False,False,True,True,False,False
Europa,True,False,True,True,False,False,False,False,False,True,...,False,False,True,True,True,True,False,False,True,True
Mars,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
55 Cancri e,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,True,False,False,True,False
PSO J318.5-22,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
TRAPPIST-1e,True,True,True,True,True,False,True,True,True,False,...,True,True,True,True,True,False,False,True,False,True
Transported,False,True,False,False,True,True,True,True,True,True,...,False,True,True,False,True,False,False,True,False,True

Скалируем значения:

In [169]:
from sklearn.preprocessing import StandardScaler

In [170]:
train_data = StandardScaler().fit_transform(train_data)

In [171]:
train_data.shape

(8693, 15)